@font-face {
  font-family: Muli;
  src: url("../fonts/Muli-Light.ttf");
}




* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: Muli, serif;
}

h1 {
  font-size: 1.2rem;
  padding-left: 1.7rem;
  background: transparent url(../images/logo.png) 0% 50% no-repeat;
  background-size: 1.2rem;
}


html {
  font-family: Muli, sans-serif;
  font-size: 16px;
  background-color: white;
  color: white;

  background: white url(../images/bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}


[class^="column-"] {
  display: inline-block;
}

  .column-33 {
    width: 33.33333%;
  }

  .column-25 {
    width: 25%;
  }

  .label {
    font-size: 0.5rem;
  }


body {
  padding: 0;
  margin: 0;
  height: 100%;
}





header {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  transition: -webkit-transform 0.5s ease-out 0s;
  transition: transform 0.5s ease-out 0s;
}





.container {
  padding: 5rem 1rem 8rem 1rem;
  overflow: hidden;

  height: 100%;
  transition: -webkit-transform 0.5s ease-out 0s;
  transition: transform 0.5s ease-out 0s;
}





.compass {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

  .compass__rose {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

    .compass__rose__dial {
      height: 100%;
      width: 100%;
    }

  .compass__pointer {
    height: 100%;
    width: 100%;
  }





.btn {
  border: 0;
  color: white;
  cursor: pointer;
  text-align: center;

  height: 4rem;

  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 50%;

  -webkit-tap-highlight-color: transparent;
  outline: none;
}

  .btn svg * {
    transition: fill 0.5s ease-out 0s;
  }

.btn--hide {
  display: none;
}

.btn--hide.show {
  display: inline-block;
}

  .btn:active {
    background-color: rgba(127, 127, 127, 0.5);
  }

  .btn__icon {
    height: 50%;
    width: 100%;
  }

  .btn__icon--active {
    display: none;
  }

  .btn__icon--inactive {
    display: block;
  }

.btn.active .btn__icon--active {
    display: block;
  }

.btn.active .btn__icon--inactive {
    display: none;
  }





.status {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.position {
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.options {

}

  .options__btn {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }





.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.8);
}

.popup.popup--show {
  display: block;
}

  .popup__content {
    max-width: 300px;
    margin: 0 auto;


    background-color: white;
    color: black;
  }

    .popup__contents {
      padding: 1rem;
    }

      .popup__inner {

      }

        .popup__inner--hide {
          display: none;
        }

    .popup__close {
      display: block;
      padding: 1rem;
      text-align: right;
      width: 100%;
      border: 0;
      background: transparent;
      outline: none;
    }

      .popup__close:hover {
        text-decoration: underline;
        cursor: pointer;
      }



html.nightmode {
  background: black;
  color: white;
}

  html.nightmode .container {
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
  }

  html.nightmode header {
    transform: translateY(-4rem);
    -webkit-transform: translateY(-4rem);
  }

  html.nightmode .label {
    color: rgba(127, 127, 127, 0.8);
  }

  html.nightmode .btn svg * {
    fill: rgba(127, 127, 127, 0.5);
  }

