html {
  font-family: Arial;
  font-size: 16px;
  background-color: white;
  color: white;

  background: white url(../images/bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

header {
  background-color: blue;
}

  header h1 {
    line-height: 3rem;
    font-size: 2rem;
    margin: 0;
  }

#container {
  padding: 2rem 3rem 7rem 3rem;
  overflow: hidden;

  height: 100%;
}

  #compass {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }

    #rose {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      /*transition: transform 1s linear 0s;*/
    }

      #dial {
        height: 100%;
        width: 100%;
      }

    #pointer {
      height: 100%;
      width: 100%;
    }


#options {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: blue;
}

  #options .btn {
    flex: 1;

    border: 0;
    background: transparent;
    color: white;

    padding: 2rem;
    border-top: 1px solid white;
    border-right: 1px solid white;
  }

    #options .btn:last-child {
      border-right: 0;
    }

  #btn-lock-orientation {
    display: none;
  }

    #btn-lock-orientation.show {
      display: inline-block;
    }

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.8);
}

  #overlay.show {
    display: block;
  }

  #popup {
    max-width: 300px;
    margin: 0 auto;

    padding: 2rem;

    background-color: white;
    color: black;
  }


html.nightmode {
  background: black;
  color: white;
}

  html.nightmode #dial circle {
    stroke: white;
  }

  html.nightmode #dial polyline, html.nightmode #pointer #pointer-south {
    fill: white;
  }

  html.nightmode #pointer circle {
    fill: black;
  }

  html.nightmode #options .btn {
    color: white;
    border-color: white;
  }
